<div class="author-box" style="background-color: #f25e2b; color: white; display: flex; align-items: center; padding: 20px;">
  <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0268/4508/5731/files/tim-porter.jpg?v=1679792001" alt="Profile Picture" class="author-pic" style="margin-right: 20px; border-radius: 50%; width: 100px;">
  <div class="author-bio">
    <h4 style="margin-top: 0;">About the Author: <a href="https://www.linkedin.com/in/tim-porter-b303ba9/" target="_blank" style="color: white; text-decoration: none;" title="LinkedIn profile for Tim Porter">Tim Porter</a>
    </h4>
    <p style="margin-bottom: 0;">Tim is the CEO and people builder of FrozenDessertSupplies.com. In his free time, he enjoys being with his family, collecting watches, and Classic Mini Coopers.</p>
  </div>
</div>