<div class="page-width page-content" id="our-story">

    {%- include 'breadcrumbs' -%}
  
    <div class="grid">
            <div id="our-story-container">
                <div>
                    <img loading="lazy" class="our-story-squiggly" src="https://cdn.shopify.com/s/files/1/0268/4508/5731/files/squiggle-25.png?v=1628011883"
                style="shape-outside:url(https://cdn.shopify.com/s/files/1/0268/4508/5731/files/squiggle-25.png?v=1628011883);">    
                    <h1>Our Story</h1>
                    <h2>What were your parents like?</h2>
                    <p>
                        My mother grew up in a small town in Wales, UK. She met my father when he was 
                        on vacation there. They fell in love at first sight. Over the next few weeks, 
                        they spent all their time together. Unfortunately, he had to return home to 
                        Arizona. 
                    </p>
                    <p>
                        He was so sure of his love, he sent her a one-way plane ticket to 
                        Arizona. Their love was so strong, she packed one suitcase with her wedding 
                        dress and left the green rolling hills of the UK to be with her love in the 
                        desert of Arizona.
                    </p>
                    <h2>What was your life like growing up?</h2>
                    <p>
                        Our family grew up very poor. There were seven boys and one girl. I’m the 
                        third-oldest. I grew up living in a run down trailer by a creek. However, 
                        it was a boy’s dream. We would fish and swim in the creek. We worked hard 
                        splitting wood, weeding gardens, mowing lawns, playing sports and life was 
                        good.
                    </p> 
                    <p>I never really considered us poor. I knew other people could afford more 
                        toys and things than we did but I never felt like I was at a disadvantage. 
                        I attribute a lot of my character to my upbringing. My desire to build 
                        businesses and help as many people as possible comes from that childhood.
                    </p>
                    <h2>What made you want to start a business?</h2>
                    <p>
                        I was born an entrepreneur, but I didn’t really realize it until I was in my 
                        early 20’s. I wanted to marry my girlfriend, now my wife, and her dad saw 
                        something in me. He took me to Arizona State University to start taking 
                        classes. Growing up in a small town, growing up poor, people didn’t go to 
                        college. I ended up getting two bachelor's degrees in three and a half years. 
                    </p>
                    <p> 
                        My wife and I started a window-washing business to put ourselves through school. 
                        That business really taught us about serving people, it gave me skills I’ve 
                        used in business since then. After I graduated from college I went to work in 
                        the high tech industry. It was a very competitive place to work. The entire 
                        time, we had side businesses to help scratch the entrepreneur itch. We had a 
                        window-washing business. I would also buy cars, fix them up and resell them. 
                    </p>
                    <h2>How did you get into the frozen dessert business?</h2>
                    <p>
                        In 2008, we opened a frozen dessert shop called “Gelato Freeze”. All the 
                        colors, all the designs, all the furniture, the logo, everything that we did 
                        was from scratch. My wife was instrumental in so much of the setup and startup. 
                    </p>
                    <p>
                        One of the more important things we tried to do was make everything as simple 
                        for the customer as possible. For example - Our menu had only four sizes, A, 
                        B, C, and D. All our prices had taxes included and they were round numbers.
                    </p>
                    <p>
                        Another important thing we did was to help give high school kids opportunities. 
                        We would train them well and give them opportunities to save money for college 
                        and their future. For the first while, we had lines out the door and we could 
                        barely keep up. Eventually, the financial crisis hit, and we had to close the 
                        shop. We came away from it having learned a ton and being grateful for the 
                        opportunity even though it was a failure.
                    </p>
                    <p>
                        The biggest thing that I’m grateful for and that we learned during that process 
                        was that it was really hard to find a simple, convenient, and easy-to-work-with 
                        company to buy our supplies from. We would have to order all our supplies over 
                        the phone and wait until the supplier was in the area. It was just a disaster 
                        of a process and was not reliable. This was 2008 afterall and we felt there was 
                        a big opportunity to fill that need and become that supplier.
                    </p>
                    <h2>What does it mean to you to Build People and Deliver Joy?</h2>
                    <p>
                        What I love is that we have a business where we can help tons of people. We’ve 
                        had hundreds of employees join our team. We’ve gotten to know them and become 
                        friends. We’ve helped them build skills that they can use to get other jobs, 
                        if they desire. 
                    </p>
                    <p>
                        It’s our mission in life to help other people. Whether it be 
                        through this business or some other way, this is what we want to do. I’m so 
                        grateful we have the opportunity with Frozen Dessert Supplies to help as many 
                        people as possible. To me, that’s what building people and delivering joy means.
                    </p>
                    
                </div>
                <div class="bottom-area">
                    <div class="iframe-container">
                        <iframe 
                            width="560" height="315" 
                            src="https://www.youtube.com/embed/18Zx4HhFjx0" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                    <div class="text-center">
                        <a href="/pages/our-purpose" class="btn return-link">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15">
                                <path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"></path>
                            </svg>  
                               Back
                        </a>
                    </div>
                </div>
            </div>
</div>
