<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 549px; height: 31px; left: 766px; top: 159px; position: absolute; color: black; font-size: 32px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">UNIQIFY® Solid Ice Cream Cups</div>
    <div style="left: 765px; top: 366px; position: absolute"><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Choose your color:</span><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 500; line-height: 20px; word-wrap: break-word"> </span><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Blue </span></div>
    <img loading="lazy" style="width: 50px; height: 50px; left: 827px; top: 403px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/50x50" />
    <img loading="lazy" style="width: 50px; height: 50px; left: 951px; top: 403px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/50x50" />
    <img loading="lazy" style="width: 50px; height: 50px; left: 889px; top: 403px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/50x50" />
    <img loading="lazy" style="width: 50px; height: 50px; left: 765px; top: 403px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/50x50" />
    <img loading="lazy" style="width: 50px; height: 50px; left: 829px; top: 463px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/50x50" />
    <img loading="lazy" style="width: 50px; height: 50px; left: 1013px; top: 463px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/50x50" />
    <img loading="lazy" style="width: 50px; height: 50px; left: 765px; top: 463px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/50x50" />
    <img loading="lazy" style="width: 51px; height: 50px; left: 890px; top: 463px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/51x50" />
    <img loading="lazy" style="width: 50px; height: 50px; left: 953px; top: 463px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/50x50" />
    <img loading="lazy" style="width: 50px; height: 50px; left: 1013px; top: 403px; position: absolute; border-radius: 5px; border: 1.50px black solid" src="https://via.placeholder.com/50x50" />
    <div style="width: 550px; height: 228px; left: 765px; top: 745px; position: absolute">
        <div style="left: 8px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Description</div>
        <div style="width: 367px; height: 117px; left: 8px; top: 27px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Introducing our UNIQIFY® 16 oz Blue Ice Cream Cups. We made them with ice cream in mind, but there are many other uses for your business. Your customers will surely love the look and feel of our UNIQIFY® cups.<br/>Pair with our 16 oz Flat Lids and 16 oz Dome Lids.<br/></div>
        <div style="left: 8px; top: 149px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Specs</div>
        <div style="width: 18px; height: 18px; left: 453px; top: 152px; position: absolute">
            <div style="width: 12.94px; height: 12.94px; left: 2.25px; top: 2.25px; position: absolute; background: black"></div>
        </div>
        <div style="left: 8px; top: 193px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Shipping & Returns</div>
        <div style="width: 18px; height: 18px; left: 453px; top: 196px; position: absolute">
            <div style="width: 12.94px; height: 12.94px; left: 2.25px; top: 2.25px; position: absolute; background: black"></div>
        </div>
        <div style="width: 486px; height: 0px; left: 0px; top: 139px; position: absolute; border: 1px #D9D9D9 solid"></div>
        <div style="width: 486px; height: 0px; left: 0px; top: 183px; position: absolute; border: 1px #D9D9D9 solid"></div>
        <div style="width: 486px; height: 0px; left: 0px; top: 228px; position: absolute; border: 1px #D9D9D9 solid"></div>
        <div style="width: 11px; height: 0px; left: 456.50px; top: 12px; position: absolute; border: 2px black solid"></div>
    </div>
    <div style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; left: 765px; top: 676px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 29px; overflow: hidden; border: 2px #25BFCC solid; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex">
        <div style="width: 16px; height: 16px; position: relative">
            <div style="width: 12.50px; height: 1.50px; left: 1.75px; top: 7.25px; position: absolute; background: #25BFCC"></div>
        </div>
        <div style="color: #25BFCC; font-size: 20px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">1</div>
        <div style="width: 16px; height: 16px; position: relative">
            <div style="width: 11.50px; height: 11.50px; left: 2px; top: 2px; position: absolute; background: #25BFCC"></div>
        </div>
    </div>
    <div style="width: 366px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; left: 891px; top: 676px; position: absolute; background: #25BFCC; border-radius: 100px; overflow: hidden; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">Add to Cart</div>
    </div>
    <div style="width: 587px; height: 265px; left: 125px; top: 745px; position: absolute">
        <div style="width: 185px; left: 0px; top: 227px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">UNIQIFY® Blue Striped Madness Ice Cream Cup</div>
        <div style="width: 185px; left: 201px; top: 227px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">UNIQIFY® Cowabunga Ice Cream Cup</div>
        <div style="width: 185px; left: 402px; top: 227px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">UNIQIFY® Purple Polka Dotty Ice Cream Cup</div>
        <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; word-wrap: break-word">You May Also Like</div>
        <img loading="lazy" style="width: 185px; height: 174px; left: 0px; top: 43px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/185x174" />
        <img loading="lazy" style="width: 185px; height: 174px; left: 201px; top: 43px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/185x174" />
        <img loading="lazy" style="width: 185px; height: 174px; left: 402px; top: 43px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/185x174" />
    </div>
    <div style="left: 765px; top: 538px; position: absolute"><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Choose your Cup Quantity (# of cups/Case):</span><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 500; line-height: 20px; word-wrap: break-word"> </span><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">1,000 cups </span></div>
    <div style="left: 765px; top: 645px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Choose your Case Quantity:</div>
    <div style="width: 50px; height: 50px; left: 891px; top: 570px; position: absolute; border-radius: 5px; overflow: hidden; border: 1.50px #BFBFBF solid">
        <div style="left: 13px; top: 16px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">250</div>
    </div>
    <div style="width: 50px; height: 50px; left: 828px; top: 570px; position: absolute; border-radius: 5px; overflow: hidden; border: 1.50px #BFBFBF solid">
        <div style="left: 13px; top: 16px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">500</div>
    </div>
    <div style="width: 50px; height: 50px; left: 766px; top: 570px; position: absolute; border-radius: 5px; overflow: hidden; border: 1.50px black solid">
        <div style="left: 6px; top: 16px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">1,000</div>
    </div>
    <div style="left: 767px; top: 254px; position: absolute"><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Choose your Size:</span><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 500; line-height: 20px; word-wrap: break-word"> </span><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">16 oz </span></div>
    <div style="width: 50px; height: 50px; left: 765px; top: 291px; position: absolute; border-radius: 5px; overflow: hidden; border: 1.50px #BFBFBF solid">
        <div style="left: 13px; top: 16px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">4oz</div>
    </div>
    <div style="width: 50px; height: 50px; left: 825px; top: 291px; position: absolute; border-radius: 5px; overflow: hidden; border: 1.50px #BFBFBF solid">
        <div style="left: 13px; top: 16px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">5oz</div>
    </div>
    <div style="width: 50px; height: 50px; left: 885px; top: 291px; position: absolute; border-radius: 5px; overflow: hidden; border: 1.50px #BFBFBF solid">
        <div style="left: 13px; top: 16px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">6oz</div>
    </div>
    <div style="width: 50px; height: 50px; left: 945px; top: 291px; position: absolute; background: #EEEEEE; border-radius: 5px; overflow: hidden; border: 1.50px #BFBFBF solid">
        <div style="left: 13px; top: 16px; position: absolute; color: #BFBFBF; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">8oz</div>
    </div>
    <div style="width: 50px; height: 50px; left: 1005px; top: 291px; position: absolute; border-radius: 5px; overflow: hidden; border: 1.50px #BFBFBF solid">
        <div style="left: 8px; top: 16px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">12oz</div>
    </div>
    <div style="width: 50px; height: 50px; left: 1065px; top: 291px; position: absolute; border-radius: 5px; overflow: hidden; border: 1.50px black solid">
        <div style="left: 8px; top: 16px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">16oz</div>
    </div>
    <img loading="lazy" style="width: 486px; height: 547px; left: 226px; top: 168px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/486x547" />
    <div style="left: 765px; top: 131px; position: absolute; color: #BFBFBF; font-size: 20px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">928471</div>
    <div style="width: 1190px; height: 1017px; left: 125px; top: 2311px; position: absolute">
        <div style="left: 451px; top: 0px; position: absolute; color: black; font-size: 32px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">Customer Reviews</div>
        <div style="left: 31px; top: 47px; position: absolute; color: black; font-size: 55px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">5.0</div>
        <div style="width: 150px; height: 30px; left: 0px; top: 117px; position: absolute">
            <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 25px; height: 23.75px; left: 2.50px; top: 2.50px; position: absolute; background: black"></div>
            </div>
            <div style="width: 30px; height: 30px; left: 30px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 25px; height: 23.75px; left: 2.50px; top: 2.50px; position: absolute; background: black"></div>
            </div>
            <div style="width: 30px; height: 30px; left: 60px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 25px; height: 23.75px; left: 2.50px; top: 2.50px; position: absolute; background: black"></div>
            </div>
            <div style="width: 30px; height: 30px; left: 90px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 25px; height: 23.75px; left: 2.50px; top: 2.50px; position: absolute; background: black"></div>
            </div>
            <div style="width: 30px; height: 30px; left: 120px; top: 0px; position: absolute">
                <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 25px; height: 23.75px; left: 2.50px; top: 2.50px; position: absolute; background: black"></div>
            </div>
        </div>
        <div style="width: 112px; height: 22.40px; left: 213px; top: 273px; position: absolute">
            <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 22.40px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 44.80px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 67.20px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 89.60px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
        </div>
        <div style="width: 112px; height: 22.40px; left: 213px; top: 522px; position: absolute">
            <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 22.40px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 44.80px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 67.20px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 89.60px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
        </div>
        <div style="width: 112px; height: 22.40px; left: 213px; top: 771px; position: absolute">
            <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 22.40px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 44.80px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 67.20px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
            <div style="width: 22.40px; height: 22.40px; left: 89.60px; top: 0px; position: absolute">
                <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute"></div>
                </div>
                <div style="width: 18.67px; height: 17.73px; left: 1.87px; top: 1.87px; position: absolute; background: black"></div>
            </div>
        </div>
        <div style="left: 33px; top: 154px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">76 Reviews</div>
        <div style="left: 170px; top: 60px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">5</div>
        <div style="left: 170px; top: 83px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">4</div>
        <div style="left: 170px; top: 106px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">3</div>
        <div style="left: 170px; top: 129px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">2</div>
        <div style="left: 170px; top: 152px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">1</div>
        <div style="width: 279px; height: 11px; left: 187px; top: 64px; position: absolute; background: #25BFCC; border-radius: 2px"></div>
        <div style="width: 279px; height: 11px; left: 187px; top: 87px; position: absolute; background: #DFDFDF; border-radius: 2px"></div>
        <div style="width: 279px; height: 11px; left: 187px; top: 110px; position: absolute; background: #DFDFDF; border-radius: 2px"></div>
        <div style="width: 279px; height: 11px; left: 187px; top: 133px; position: absolute; background: #DFDFDF; border-radius: 2px"></div>
        <div style="width: 279px; height: 11px; left: 187px; top: 156px; position: absolute; background: #DFDFDF; border-radius: 2px"></div>
        <div style="width: 1190px; height: 0px; left: 0px; top: 203px; position: absolute; border: 2px #DFDFDF solid"></div>
        <div style="width: 1190px; height: 0px; left: 0px; top: 452px; position: absolute; border: 2px #DFDFDF solid"></div>
        <div style="width: 1190px; height: 0px; left: 0px; top: 701px; position: absolute; border: 2px #DFDFDF solid"></div>
        <div style="width: 1190px; height: 0px; left: 0px; top: 950px; position: absolute; border: 2px #DFDFDF solid"></div>
        <div style="width: 197px; height: 42px; padding-left: 22px; padding-right: 22px; padding-top: 10px; padding-bottom: 10px; left: 993px; top: 64px; position: absolute; border-radius: 25px; overflow: hidden; border: 2px #25BFCC solid; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="color: #25BFCC; font-size: 16px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">Write A Review</div>
        </div>
        <div style="width: 80px; height: 80px; left: 0px; top: 235px; position: absolute; background: #BFBFBF; border-radius: 100px; overflow: hidden">
            <div style="width: 37px; height: 55px; left: 24px; top: 10px; position: absolute; color: white; font-size: 48px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">D</div>
        </div>
        <div style="width: 80px; height: 80px; left: 0px; top: 484px; position: absolute; background: #BFBFBF; border-radius: 100px; overflow: hidden">
            <div style="width: 37px; height: 55px; left: 24px; top: 10px; position: absolute; color: white; font-size: 48px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">D</div>
        </div>
        <div style="width: 80px; height: 80px; left: 0px; top: 733px; position: absolute; background: #BFBFBF; border-radius: 100px; overflow: hidden">
            <div style="width: 37px; height: 55px; left: 24px; top: 10px; position: absolute; color: white; font-size: 48px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">D</div>
        </div>
        <div style="left: 0px; top: 322px; position: absolute; color: black; font-size: 24px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; word-wrap: break-word">Dianne S.</div>
        <div style="left: 0px; top: 571px; position: absolute; color: black; font-size: 24px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; word-wrap: break-word">Dianne S.</div>
        <div style="left: 0px; top: 820px; position: absolute; color: black; font-size: 24px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; word-wrap: break-word">Dianne S.</div>
        <div style="left: 213px; top: 235px; position: absolute; color: black; font-size: 24px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; word-wrap: break-word">Lorem ipsum dolor sit</div>
        <div style="left: 213px; top: 484px; position: absolute; color: black; font-size: 24px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; word-wrap: break-word">Lorem ipsum dolor sit</div>
        <div style="left: 213px; top: 733px; position: absolute; color: black; font-size: 24px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; word-wrap: break-word">Lorem ipsum dolor sit</div>
        <div style="left: 1101px; top: 235px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">10/31/2023</div>
        <div style="left: 1101px; top: 484px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">10/31/2023</div>
        <div style="left: 1101px; top: 733px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">10/31/2023</div>
        <div style="width: 864px; left: 213px; top: 310px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet consectetur. Ultricies imperdiet imperdiet viverra sit aliquet. Egestas eget elementum vel dolor sed massa ut risus ultrices. Id varius amet sed lorem sed euismod. Ac nibh purus posuere ligula laoreet ornare augue.</div>
        <div style="width: 864px; left: 213px; top: 559px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet consectetur. Ultricies imperdiet imperdiet viverra sit aliquet. Egestas eget elementum vel dolor sed massa ut risus ultrices. Id varius amet sed lorem sed euismod. Ac nibh purus posuere ligula laoreet ornare augue.</div>
        <div style="width: 864px; left: 213px; top: 808px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet consectetur. Ultricies imperdiet imperdiet viverra sit aliquet. Egestas eget elementum vel dolor sed massa ut risus ultrices. Id varius amet sed lorem sed euismod. Ac nibh purus posuere ligula laoreet ornare augue.</div>
        <div style="left: 924px; top: 400px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Was this review helpful?</div>
        <div style="left: 924px; top: 649px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Was this review helpful?</div>
        <div style="left: 924px; top: 898px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Was this review helpful?</div>
        <div style="width: 27px; height: 20px; left: 1131px; top: 400px; position: absolute">
            <div style="width: 16px; height: 16px; left: 0px; top: 2px; position: absolute">
                <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                <div style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute; background: black"></div>
            </div>
            <div style="left: 17px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 500; line-height: 20px; word-wrap: break-word">1</div>
        </div>
        <div style="width: 27px; height: 20px; left: 1131px; top: 649px; position: absolute">
            <div style="width: 16px; height: 16px; left: 0px; top: 2px; position: absolute">
                <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                <div style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute; background: black"></div>
            </div>
            <div style="left: 17px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 500; line-height: 20px; word-wrap: break-word">1</div>
        </div>
        <div style="width: 27px; height: 20px; left: 1131px; top: 898px; position: absolute">
            <div style="width: 16px; height: 16px; left: 0px; top: 2px; position: absolute">
                <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                <div style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute; background: black"></div>
            </div>
            <div style="left: 17px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 500; line-height: 20px; word-wrap: break-word">1</div>
        </div>
        <div style="width: 27px; height: 20px; left: 1163px; top: 400px; position: absolute">
            <div style="width: 16px; height: 16px; left: 0px; top: 2px; position: absolute">
                <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                <div style="width: 14.67px; height: 13.33px; left: 0.67px; top: 2px; position: absolute; background: black"></div>
            </div>
            <div style="left: 17px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 500; line-height: 20px; word-wrap: break-word">0</div>
        </div>
        <div style="width: 27px; height: 20px; left: 1163px; top: 649px; position: absolute">
            <div style="width: 16px; height: 16px; left: 0px; top: 2px; position: absolute">
                <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                <div style="width: 14.67px; height: 13.33px; left: 0.67px; top: 2px; position: absolute; background: black"></div>
            </div>
            <div style="left: 17px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 500; line-height: 20px; word-wrap: break-word">0</div>
        </div>
        <div style="width: 27px; height: 20px; left: 1163px; top: 898px; position: absolute">
            <div style="width: 16px; height: 16px; left: 0px; top: 2px; position: absolute">
                <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
                <div style="width: 14.67px; height: 13.33px; left: 0.67px; top: 2px; position: absolute; background: black"></div>
            </div>
            <div style="left: 17px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 500; line-height: 20px; word-wrap: break-word">0</div>
        </div>
        <div style="left: 213px; top: 400px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Review left on: Uniqify® 16 oz Solid Blue Ice Cream Cup</div>
        <div style="left: 213px; top: 649px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Review left on: Uniqify® 16 oz Solid Blue Ice Cream Cup</div>
        <div style="left: 213px; top: 898px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Review left on: Uniqify® 16 oz Solid Blue Ice Cream Cup</div>
        <div style="left: 21px; top: 361px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Verified Buyer</div>
        <div style="left: 21px; top: 610px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Verified Buyer</div>
        <div style="left: 21px; top: 859px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Verified Buyer</div>
        <div style="width: 18px; height: 18px; left: 0px; top: 361px; position: absolute">
            <div style="width: 14.40px; height: 14.40px; left: 1.80px; top: 1.80px; position: absolute">
                <div style="width: 12px; height: 12px; left: 1.20px; top: 1.20px; position: absolute">
                    <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute; background: white; border: 1.20px white solid"></div>
                        <div style="width: 5.40px; height: 3.60px; left: 3.60px; top: 4.20px; position: absolute; border: 1.20px black solid"></div>
                    </div>
                    <div style="width: 14.40px; height: 14.40px; left: -1.20px; top: -1.20px; position: absolute; background: #25BFCC"></div>
                </div>
            </div>
        </div>
        <div style="width: 18px; height: 18px; left: 0px; top: 610px; position: absolute">
            <div style="width: 14.40px; height: 14.40px; left: 1.80px; top: 1.80px; position: absolute">
                <div style="width: 12px; height: 12px; left: 1.20px; top: 1.20px; position: absolute">
                    <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute; background: white; border: 1.20px white solid"></div>
                        <div style="width: 5.40px; height: 3.60px; left: 3.60px; top: 4.20px; position: absolute; border: 1.20px black solid"></div>
                    </div>
                    <div style="width: 14.40px; height: 14.40px; left: -1.20px; top: -1.20px; position: absolute; background: #25BFCC"></div>
                </div>
            </div>
        </div>
        <div style="width: 18px; height: 18px; left: 0px; top: 859px; position: absolute">
            <div style="width: 14.40px; height: 14.40px; left: 1.80px; top: 1.80px; position: absolute">
                <div style="width: 12px; height: 12px; left: 1.20px; top: 1.20px; position: absolute">
                    <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute; background: white; border: 1.20px white solid"></div>
                        <div style="width: 5.40px; height: 3.60px; left: 3.60px; top: 4.20px; position: absolute; border: 1.20px black solid"></div>
                    </div>
                    <div style="width: 14.40px; height: 14.40px; left: -1.20px; top: -1.20px; position: absolute; background: #25BFCC"></div>
                </div>
            </div>
        </div>
        <div style="width: 192px; height: 42px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; left: 499px; top: 975px; position: absolute; background: #25BFCC; border-radius: 100px; overflow: hidden; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
            <div style="color: white; font-size: 16px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">Read More Reviews</div>
        </div>
    </div>
    <img loading="lazy" style="width: 85px; height: 85px; left: 125px; top: 169px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/85x85" />
    <img loading="lazy" style="width: 85px; height: 85px; left: 125px; top: 270px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/85x85" />
    <img loading="lazy" style="width: 85px; height: 85px; left: 125px; top: 371px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/85x85" />
    <div style="width: 1441px; height: 431px; left: 0px; top: 1820px; position: absolute">
        <div style="width: 1441px; height: 431px; left: 0px; top: 0px; position: absolute; background: #E3FDFF"></div>
        <div style="left: 152px; top: 252px; position: absolute; color: black; font-size: 18px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Order Samples</div>
        <div style="width: 185px; left: 125px; top: 289px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Feel the quality for yourself. Order a free sample, just pay for shipping.</div>
        <div style="left: 358px; top: 252px; position: absolute; color: black; font-size: 18px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Free Shipping</div>
        <div style="width: 185px; left: 326px; top: 289px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Free shipping for all commercially zoned addresses within the continental U.S.</div>
        <div style="left: 543px; top: 252px; position: absolute; color: black; font-size: 18px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Customer Service</div>
        <div style="width: 185px; left: 527px; top: 289px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Our customer service team is here to help so you can have the best experience.</div>
        <div style="left: 760px; top: 253px; position: absolute; color: black; font-size: 18px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Quick Reorder</div>
        <div style="width: 185px; left: 728px; top: 290px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Tight on time? Quickly <br/>re-order from past orders when you create an account.</div>
        <div style="left: 951px; top: 252px; position: absolute; color: black; font-size: 18px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Convenient App</div>
        <div style="width: 185px; left: 929px; top: 290px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Download our app to quickly browse products and start restocking.</div>
        <div style="left: 1147px; top: 252px; position: absolute; color: black; font-size: 18px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Custom Branding</div>
        <div style="width: 185px; left: 1130px; top: 290px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Work directly with a designer to get the personalized cups.</div>
        <div style="left: 459px; top: 53px; position: absolute; color: black; font-size: 32px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">Why Choose Frozen Dessert Supplies?</div>
        <div style="width: 91px; height: 91px; left: 372px; top: 135.76px; position: absolute">
            <div style="width: 91px; height: 91px; left: 0px; top: 0px; position: absolute; background: #25BFCC; border-radius: 9999px"></div>
            <div style="width: 59.25px; height: 34.89px; left: 17.26px; top: 28.99px; position: absolute">
                <div style="width: 9.37px; height: 8.14px; left: 15.47px; top: 28.91px; position: absolute; transform: rotate(-43.15deg); transform-origin: 0 0; background: white"></div>
                <div style="width: 9.39px; height: 8.14px; left: 40.47px; top: 28.92px; position: absolute; transform: rotate(-43.15deg); transform-origin: 0 0; background: white"></div>
                <div style="width: 3.96px; height: 3.98px; left: 0.65px; top: 8.02px; position: absolute; background: white"></div>
                <div style="width: 59.25px; height: 28.30px; left: 0px; top: 0px; position: absolute; background: white"></div>
            </div>
        </div>
        <div style="width: 91px; height: 91px; left: 171px; top: 135.76px; position: absolute">
            <div style="width: 91px; height: 91px; left: 0px; top: 0px; position: absolute; background: #25BFCC; border-radius: 9999px"></div>
            <div style="width: 48.89px; height: 46.19px; left: 21.18px; top: 22.56px; position: absolute; background: white"></div>
        </div>
        <div style="width: 91px; height: 91px; left: 573px; top: 135.76px; position: absolute">
            <div style="width: 91px; height: 91px; left: 0px; top: 0px; position: absolute; background: #25BFCC; border-radius: 9999px"></div>
            <div style="width: 46.60px; height: 46.20px; left: 23.53px; top: 22.56px; position: absolute; background: white"></div>
        </div>
        <div style="width: 91px; height: 91px; left: 975px; top: 135.76px; position: absolute">
            <div style="width: 91px; height: 91px; left: 0px; top: 0px; position: absolute; background: #25BFCC; border-radius: 9999px"></div>
            <div style="width: 28.24px; height: 46.67px; left: 30.38px; top: 21.78px; position: absolute; background: white"></div>
        </div>
        <div style="width: 91px; height: 91px; left: 1176px; top: 135.76px; position: absolute">
            <div style="width: 91px; height: 91px; left: 0px; top: 0px; position: absolute; background: #25BFCC; border-radius: 9999px"></div>
            <div style="width: 32.95px; height: 46.67px; left: 29.03px; top: 22.56px; position: absolute; background: white"></div>
        </div>
        <div style="width: 91px; height: 91px; left: 774px; top: 135.76px; position: absolute">
            <div style="width: 91px; height: 91px; left: 0px; top: 0px; position: absolute; background: #25BFCC; border-radius: 9999px"></div>
            <div style="width: 38.44px; height: 45.11px; left: 27.46px; top: 22.56px; position: absolute; background: white"></div>
        </div>
    </div>
    <div style="left: 919px; top: 207.52px; position: absolute; color: rgba(191, 191, 191, 0.97); font-size: 18px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">(76)</div>
    <div style="width: 146px; height: 27.04px; left: 765px; top: 204px; position: absolute">
        <div style="width: 27.04px; height: 27.04px; left: 0px; top: 0px; position: absolute">
            <div style="width: 22.53px; height: 21.40px; left: 2.25px; top: 3.38px; position: absolute; background: #8F8F8F"></div>
        </div>
        <div style="width: 27.04px; height: 27.04px; left: 29.74px; top: 0px; position: absolute">
            <div style="width: 22.53px; height: 21.40px; left: 2.25px; top: 3.38px; position: absolute; background: #8F8F8F"></div>
        </div>
        <div style="width: 27.04px; height: 27.04px; left: 59.48px; top: 0px; position: absolute">
            <div style="width: 22.53px; height: 21.40px; left: 2.25px; top: 3.38px; position: absolute; background: #8F8F8F"></div>
        </div>
        <div style="width: 27.04px; height: 27.04px; left: 89.22px; top: 0px; position: absolute">
            <div style="width: 22.53px; height: 21.40px; left: 2.25px; top: 3.38px; position: absolute; background: #8F8F8F"></div>
        </div>
        <div style="width: 27.04px; height: 27.04px; left: 118.96px; top: 0px; position: absolute">
            <div style="width: 22.53px; height: 21.40px; left: 2.25px; top: 3.38px; position: absolute; background: #8F8F8F"></div>
        </div>
    </div>
    <div style="width: 1440px; height: 462px; left: 0px; top: 3388px; position: absolute; background: #047680">
        <div style="width: 104.94px; height: 89.81px; left: 125.91px; top: 38.92px; position: absolute">
            <div style="width: 103.50px; height: 88.37px; left: 0.72px; top: 0.72px; position: absolute; border: 1.44px white solid"></div>
            <div style="width: 86.32px; height: 16.83px; left: 9.31px; top: 23.92px; position: absolute">
                <div style="width: 9.08px; height: 16.83px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 8.18px; height: 15.68px; left: 65.02px; top: 0.57px; position: absolute; background: white"></div>
                <div style="width: 8.41px; height: 16.01px; left: 51.99px; top: 0.41px; position: absolute; background: white"></div>
                <div style="width: 9.12px; height: 16.04px; left: 25.81px; top: 0.39px; position: absolute; background: white"></div>
                <div style="width: 8.05px; height: 16.02px; left: 13.42px; top: 0.40px; position: absolute; background: white"></div>
                <div style="width: 8.57px; height: 16px; left: 39px; top: 0.42px; position: absolute; background: white"></div>
                <div style="width: 8.58px; height: 16.19px; left: 77.73px; top: 0.32px; position: absolute; background: white"></div>
            </div>
            <div style="width: 79.49px; height: 37.51px; left: 12.41px; top: 44.98px; position: absolute">
                <div style="width: 8.52px; height: 37.10px; left: 36.31px; top: 0.41px; position: absolute; background: white"></div>
                <div style="width: 10.04px; height: 33.43px; left: 12.79px; top: 0.41px; position: absolute; background: white"></div>
                <div style="width: 8.52px; height: 36.11px; left: 25.39px; top: 0.41px; position: absolute; background: white"></div>
                <div style="width: 6.15px; height: 31.95px; left: 61.65px; top: 0.41px; position: absolute; background: white"></div>
                <div style="width: 5.57px; height: 36.55px; left: 46.90px; top: 0.41px; position: absolute; background: white"></div>
                <div style="width: 2.35px; height: 34.23px; left: 55.06px; top: 0.41px; position: absolute; background: white"></div>
                <div style="width: 10.89px; height: 28.10px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 10.90px; height: 28.10px; left: 68.59px; top: 0.17px; position: absolute; background: white"></div>
            </div>
            <div style="width: 86.32px; height: 14.03px; left: 9.31px; top: 6.14px; position: absolute">
                <div style="width: 6.02px; height: 13.83px; left: 80.30px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 6.29px; height: 13.84px; left: 15.76px; top: 0.18px; position: absolute; background: white"></div>
                <div style="width: 7.20px; height: 13.98px; left: 31.43px; top: 0.05px; position: absolute; background: white"></div>
                <div style="width: 5.82px; height: 13.66px; left: 64.28px; top: 0.21px; position: absolute; background: white"></div>
                <div style="width: 5.60px; height: 13.69px; left: 48.32px; top: 0.21px; position: absolute; background: white"></div>
                <div style="width: 5.42px; height: 13.12px; left: 0px; top: 0.47px; position: absolute; background: white"></div>
            </div>
        </div>
        <div style="width: 100px; height: 22px; left: 327px; top: 40px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; letter-spacing: 1.60px; word-wrap: break-word">Get help</div>
        <div style="width: 116px; height: 21px; left: 629px; top: 40px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; letter-spacing: 1.60px; word-wrap: break-word">About FDS</div>
        <div style="width: 176px; height: 22px; left: 929px; top: 40px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 700; text-transform: capitalize; letter-spacing: 1.60px; word-wrap: break-word">Get our Emails</div>
        <div style="width: 66.95px; height: 21.95px; left: 326.77px; top: 113.75px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Shipping</div>
        <div style="width: 55.96px; height: 21.95px; left: 327px; top: 80px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Returns</div>
        <div style="width: 56.96px; height: 21.95px; left: 628.56px; top: 147.93px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Careers</div>
        <div style="width: 60.96px; height: 21.95px; left: 628.56px; top: 114px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Purpose</div>
        <div style="width: 110px; height: 22px; left: 629px; top: 80px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Meet the Team</div>
        <div style="width: 97.93px; height: 21.95px; left: 326.77px; top: 251.46px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Privacy Policy</div>
        <div style="width: 105.93px; height: 21.95px; left: 326.77px; top: 285.38px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Security Policy</div>
        <div style="width: 32.98px; height: 21.95px; left: 326.77px; top: 183.60px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">FAQ</div>
        <div style="width: 79.94px; height: 21.95px; left: 326.77px; top: 319.31px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Contact Us</div>
        <div style="width: 139.90px; height: 23.95px; left: 326.77px; top: 147.68px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Request Samples</div>
        <div style="width: 166px; height: 22px; left: 629px; top: 182px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Become a Distributor</div>
        <div style="width: 182.87px; height: 21.95px; left: 326.77px; top: 217.53px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Sales Tax Exemption Info</div>
        <div style="width: 401px; height: 48px; left: 929px; top: 72px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 500; word-wrap: break-word">Receive email updates on new product announcements, special promotions, sales, and more. </div>
        <div style="width: 164.89px; height: 29.94px; left: 926.36px; top: 231px; position: absolute">
            <div style="width: 29.98px; height: 29.94px; left: 44.97px; top: 0px; position: absolute">
                <div style="width: 24.98px; height: 24.88px; left: 2.50px; top: 2.49px; position: absolute; background: white"></div>
            </div>
            <div style="width: 29.98px; height: 29.94px; left: 89.94px; top: 0px; position: absolute">
                <div style="width: 22.48px; height: 22.45px; left: 3.75px; top: 3.74px; position: absolute; background: white"></div>
            </div>
            <div style="width: 29.98px; height: 29.94px; left: 134.91px; top: 0px; position: absolute">
                <div style="width: 24.98px; height: 17.46px; left: 2.50px; top: 6.24px; position: absolute; background: white"></div>
            </div>
            <div style="width: 29.98px; height: 29.94px; left: 0px; top: 0px; position: absolute">
                <div style="width: 24.98px; height: 24.95px; left: 2.50px; top: 2.49px; position: absolute; background: white"></div>
            </div>
        </div>
        <div style="width: 459px; height: 12px; left: 125px; top: 437px; position: absolute; color: white; font-size: 12px; font-family: Avenir Next; font-weight: 400; line-height: 14.40px; word-wrap: break-word">© 2023 Frozen Dessert Supplies, Inc. All Rights Reserved</div>
        <div style="width: 386px; height: 71px; left: 929px; top: 135px; position: absolute">
            <div style="width: 386px; height: 45px; left: 0px; top: 26px; position: absolute; border-radius: 8px; border: 2px white solid"></div>
            <div style="width: 184.03px; height: 21.95px; left: 25px; top: 38px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">enter your email</div>
            <div style="width: 162px; left: 0px; top: 0px; position: absolute; color: white; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Email address</div>
            <div style="width: 21px; height: 21px; left: 340px; top: 39px; position: absolute; background: white"></div>
        </div>
    </div>
    <div style="width: 1440px; height: 138px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 102px; left: 0px; top: 36px; position: absolute; background: white"></div>
        <div style="width: 1440px; height: 36px; left: 0px; top: 0px; position: absolute; background: #F6F6F6"></div>
        <div style="left: 124px; top: 10px; position: absolute; color: black; font-size: 12px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">Frozen Dessert Supplies | Hot Cup Factory | Eco Friendly Supplies</div>
        <div style="left: 225px; top: 81px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">SHOP</div>
        <div style="left: 291px; top: 81px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">SALE</div>
        <div style="left: 352px; top: 81px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">CUSTOM</div>
        <div style="left: 439px; top: 81px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">DISTRIBUTION</div>
        <div style="left: 562px; top: 81px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">RESOURCES</div>
        <div style="left: 671px; top: 81px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">HELP</div>
        <div style="width: 25.91px; height: 25.65px; left: 1289px; top: 77.23px; position: absolute; background: black"></div>
        <div style="width: 261px; height: 45px; left: 959px; top: 68px; position: absolute; border-radius: 63px; overflow: hidden; border: 2px black solid">
            <div style="width: 24.75px; height: 24.51px; left: 14px; top: 10px; position: absolute; border: 1.88px black solid"></div>
            <div style="left: 51.75px; top: 10px; position: absolute; color: #999693; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Search</div>
        </div>
        <div style="width: 26.88px; height: 26.61px; left: 1235px; top: 77.23px; position: absolute; background: black"></div>
        <div style="width: 75px; height: 64px; left: 125px; top: 59px; position: absolute">
            <div style="width: 75px; height: 64px; left: 0px; top: 0px; position: absolute; background: #2DC0CB"></div>
            <div style="width: 62.55px; height: 12.19px; left: 6.22px; top: 16.80px; position: absolute">
                <div style="width: 6.58px; height: 12.19px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 5.93px; height: 11.35px; left: 47.11px; top: 0.42px; position: absolute; background: white"></div>
                <div style="width: 6.10px; height: 11.59px; left: 37.67px; top: 0.30px; position: absolute; background: white"></div>
                <div style="width: 6.61px; height: 11.62px; left: 18.70px; top: 0.28px; position: absolute; background: white"></div>
                <div style="width: 5.84px; height: 11.60px; left: 9.73px; top: 0.29px; position: absolute; background: white"></div>
                <div style="width: 6.21px; height: 11.58px; left: 28.26px; top: 0.30px; position: absolute; background: white"></div>
                <div style="width: 6.22px; height: 11.72px; left: 56.33px; top: 0.23px; position: absolute; background: white"></div>
            </div>
            <div style="width: 57.60px; height: 27.17px; left: 8.47px; top: 32.05px; position: absolute">
                <div style="width: 6.18px; height: 26.87px; left: 26.31px; top: 0.30px; position: absolute; background: white"></div>
                <div style="width: 7.28px; height: 24.21px; left: 9.26px; top: 0.30px; position: absolute; background: white"></div>
                <div style="width: 6.18px; height: 26.15px; left: 18.40px; top: 0.30px; position: absolute; background: white"></div>
                <div style="width: 4.46px; height: 23.14px; left: 44.67px; top: 0.30px; position: absolute; background: white"></div>
                <div style="width: 4.04px; height: 26.47px; left: 33.99px; top: 0.30px; position: absolute; background: white"></div>
                <div style="width: 1.70px; height: 24.79px; left: 39.90px; top: 0.30px; position: absolute; background: white"></div>
                <div style="width: 7.89px; height: 20.35px; left: 0px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 7.90px; height: 20.35px; left: 49.71px; top: 0.12px; position: absolute; background: white"></div>
            </div>
            <div style="width: 62.55px; height: 10.16px; left: 6.22px; top: 3.92px; position: absolute">
                <div style="width: 4.36px; height: 10.02px; left: 58.19px; top: 0px; position: absolute; background: white"></div>
                <div style="width: 4.56px; height: 10.02px; left: 11.42px; top: 0.13px; position: absolute; background: white"></div>
                <div style="width: 5.22px; height: 10.12px; left: 22.78px; top: 0.04px; position: absolute; background: white"></div>
                <div style="width: 4.22px; height: 9.89px; left: 46.58px; top: 0.15px; position: absolute; background: white"></div>
                <div style="width: 4.06px; height: 9.92px; left: 35.02px; top: 0.15px; position: absolute; background: white"></div>
                <div style="width: 3.93px; height: 9.50px; left: -0px; top: 0.34px; position: absolute; background: white"></div>
            </div>
        </div>
    </div>
    <div style="width: 1441px; height: 690px; left: 0px; top: 1070px; position: absolute">
        <div style="width: 1441px; height: 690px; left: 0px; top: 0px; position: absolute; background: #FFE0EB">
            <div style="width: 244.82px; height: 395.12px; left: 44.59px; top: 149px; position: absolute">
                <div style="width: 155.62px; height: 42.32px; left: 66.89px; top: 352.80px; position: absolute">
                    <div style="width: 155.62px; height: 42.32px; left: 0px; top: 0px; position: absolute; opacity: 0.70; background: #FEC9DC; box-shadow: 10px 10px 10px; border-radius: 9999px; filter: blur(10px)"></div>
                    <div style="width: 129.50px; height: 20.48px; left: 14.15px; top: 10.92px; position: absolute; opacity: 0.70; background: #FEC9DC; box-shadow: 10px 10px 10px; border-radius: 9999px; filter: blur(10px)"></div>
                    <div style="width: 94.68px; height: 15.02px; left: 14.15px; top: 17.75px; position: absolute; opacity: 0.70; background: #FEC9DC; box-shadow: 10px 10px 10px; border-radius: 9999px; filter: blur(10px)"></div>
                </div>
                <img loading="lazy" style="width: 177.97px; height: 150.19px; left: 66.85px; top: 0px; position: absolute" src="https://via.placeholder.com/178x150" />
                <img loading="lazy" style="width: 215.68px; height: 244.35px; left: 0px; top: 150.77px; position: absolute" src="https://via.placeholder.com/216x244" />
            </div>
            <img loading="lazy" style="width: 409px; height: 409px; left: 1066px; top: 162px; position: absolute" src="https://via.placeholder.com/409x409" />
        </div>
        <div style="width: 122px; left: 326px; top: 155px; position: absolute"><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">First Name</span><span style="color: #C70000; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">*</span></div>
        <div style="width: 162px; left: 326px; top: 220px; position: absolute"><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Company Name</span><span style="color: #C70000; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">*</span></div>
        <div style="width: 62px; left: 326px; top: 285px; position: absolute"><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Email</span><span style="color: #C70000; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">*</span></div>
        <div style="width: 108px; left: 728px; top: 155px; position: absolute"><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Last Name</span><span style="color: #C70000; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">*</span></div>
        <div style="width: 145px; left: 728px; top: 220px; position: absolute"><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">State/Province</span><span style="color: #C70000; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">*</span></div>
        <div style="width: 153px; left: 728px; top: 285px; position: absolute"><span style="color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Phone Number</span><span style="color: #C70000; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">*</span></div>
        <div style="left: 559px; top: 54px; position: absolute; color: black; font-size: 32px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">Want a Custom Cup?</div>
        <div style="left: 457px; top: 108px; position: absolute; color: black; font-size: 18px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Lower Minimums • Complimentary Designs • Storage Solutions</div>
        <div style="width: 386px; height: 30px; left: 326px; top: 178px; position: absolute; background: white; border-radius: 5px"></div>
        <div style="width: 386px; height: 30px; left: 326px; top: 243px; position: absolute; background: white; border-radius: 5px"></div>
        <div style="width: 386px; height: 30px; left: 326px; top: 308px; position: absolute; background: white; border-radius: 5px"></div>
        <div style="width: 788px; height: 153px; left: 326px; top: 416px; position: absolute">
            <div style="width: 376px; left: 0px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Tell us a bit about what you are looking for:</div>
            <div style="width: 788px; height: 130px; left: 0px; top: 23px; position: absolute; background: white; border-radius: 5px"></div>
        </div>
        <div style="width: 386px; height: 30px; left: 728px; top: 178px; position: absolute; background: white; border-radius: 5px"></div>
        <div style="width: 386px; height: 30px; left: 728px; top: 243px; position: absolute; background: white; border-radius: 5px">
            <div style="left: 13px; top: 6px; position: absolute; color: #999693; font-size: 14px; font-family: Avenir Next; font-weight: 600; word-wrap: break-word">Select</div>
            <div style="width: 24px; height: 24px; left: 354px; top: 3px; position: absolute">
                <div style="width: 7px; height: 12px; left: 6px; top: 16px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #999693 solid"></div>
            </div>
        </div>
        <div style="width: 386px; height: 30px; left: 728px; top: 308px; position: absolute; background: white; border-radius: 5px"></div>
        <div style="width: 652px; height: 49px; left: 326px; top: 355px; position: absolute">
            <div style="left: 25px; top: 27px; position: absolute; color: black; font-size: 16px; font-family: Avenir Next; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Allow SMS</div>
            <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Avenir Next; font-weight: 400; word-wrap: break-word">By checking this box you are agreeing to receive SMS notifications. Message and data rates may apply. </div>
            <div style="width: 18px; height: 18px; left: 0px; top: 28px; position: absolute">
                <div style="width: 18px; height: 18px; left: 0px; top: 0px; position: absolute"></div>
                <div style="width: 13.50px; height: 13.50px; left: 2.25px; top: 2.25px; position: absolute; background: black"></div>
            </div>
        </div>
        <div style="width: 197px; height: 38px; left: 622px; top: 594px; position: absolute; background: #25BFCC; border-radius: 100px; overflow: hidden">
            <div style="left: 24px; top: 7px; position: absolute; color: white; font-size: 18px; font-family: Avenir Next; font-weight: 700; word-wrap: break-word">Request A Quote</div>
        </div>
    </div>
</div>